.speech
{
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.stage-direction
{
    color: black;
    background-color:lavender;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}
.stage-direction:hover
{
    color:greenyellow;
    background-color: ivory;
}
.name
{
    color:rgb(182, 135, 60);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    
}
.name:hover
{

    text-shadow: rosybrown;
    filter: blur(2px);
}
.LADY-HUNSTANTON
{
    color:rgb(15, 142, 20);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
.LADY-HUNSTANTON:hover
{
    color: tomato;
    text-shadow:royalblue;
    filter: blur(2px);
}
.MRS.ALLONBY
{
    color:rgb(235, 47, 110);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
.MRS.ALLONBY:hover
{
    color: teal;
    text-shadow:rgb(6, 68, 33);
    filter: blur(2px);
}
.table
{
    border: 3px;
    border-style: dotted;
    border-color: steelblue;
    text-align:center;
    margin: 8px;
    padding-left: 8px;
    border-collapse: collapse;
}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li
{ 
   float:left; 
   color:#000;background-color:lightgray
}
ul.navbar-horizontal a {
   display:block;padding:8px
}
ul.navbar-horizontal a:hover { 
   background-color: #555;color:white;
}
